.diccionario {
    text-indent: 0;
    display: inline-block;
    color: var(--yellow);
}

.diccionario .def {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: -5em;
    right: 2em;
    left: 2em;
    z-index: 200;

    visibility: hidden;
    transition: 200ms;
    opacity: 0;
}

.diccionario:hover .def {
    visibility: visible;
    opacity: 1;
    transform: translate(0, -8rem);
}

.diccionario .middle {
    max-width: 30rem;
    text-indent: .6rem;
    color: var(--yellow);
    background-color: #282828;
    padding: .40em .60em;
    margin-inline: auto;
    border: .02em solid var(--fg);
    border-radius: .34em;
}

@media only screen and (max-width: 50em) {
    .diccionario .def {
        width: auto;
    }
}

.hdp-nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.4rem;
    padding-bottom: 8rem;
}

.hdp-nav-btn::after {
    display: block;
    height: 2.4rem;
    width: fit-content;
    text-align: center;
    line-height: 2.4rem;
    padding-inline: .8rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: .3rem;
    box-shadow: .2rem .2rem .1rem #000;
    background-color: var(--bg1);
    vertical-align: center;
    content: "";
    transition: 200ms;
    color: var(--fg);
}

.hdp-nav-btn:hover::after,
.hdp-nav-btn:focus::after {
    transform: scale(1.08);
}

.previous::after {
    content: "anterior";
}

.next::after {
    content: "siguiente";
}

q::before {
    content: "―";
}

q:after {
    content: "";
}

.yellow {
    color: var(--yellow);
    text-indent: 0;
    display: inline-block;
}

#dicc {
    max-width: 30rem;
    margin-inline: auto;

    position: fixed;
    bottom: -5em;
    right: 2em;
    left: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fg);
    background-color: var(--bg1);
    border: .02rem solid var(--yellow);
    border-radius: .34em;

    z-index: 200;

    visibility: hidden;
    opacity: 0;
    transition: 200ms;
}

#dicc.show {
    visibility: visible;
    opacity: 1;
    transform: translate(0, -8rem);
}

.repelh {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#close {
    display: block;
    width: 2.4rem;
    height: 1.2rem;
    margin-right: 1.6rem;
    text-align: center;
    line-height: 1.2rem;
    color: var(--bg);
    background-color: var(--yellow);
    border: .02rem solid var(--yellow);
    border-radius: 0 0 .2rem .2rem;
}

#close::after {
    content: "x";
    font-size: 1.4rem;
    font-weight: 900;
}

#significante {
    border-bottom: 2px solid var(--yellow);
    text-indent: 0.4rem;
    margin-top: .2rem;
    margin-left: 0.8rem;
    padding-right: .8rem;
}

#significado {
    text-indent: .6rem;
    margin-right: 4px;
    padding: .40em .60em;
    max-height: 6lh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    margin: .4rem;
}

::-webkit-scrollbar-thumb {
    background: var(--fg);
    border: 0px;
    border-radius: 3px;
}

