.basic-grid {
	display:grid;
	gap:2rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.card {
	aspect-ratio: 1 / 1.5;
}

.card-tag{
	align-self:end;
	padding: 1rem;
}

.card-img {
	display:block;
	border:6px solid;
	padding:4rem;
	width:100%;
	aspect-ratio: 1 / 1;
	object-fit:cover;
	
	transition: 200ms;
}

.card.featured {
	grid-row: span 2;
	grid-column: span 2;
}

.card.featured .card-img{
	aspect-ratio: 1 / 1.25;
}

.card:hover .card-img {
	padding:0;
}

.card-desc{
	font-size:1.4rem;
	text-indent: 0;
}

.card-title{
	font-size:2.4rem;
}

@media only screen and (max-width: 65rem) {
	.card-desc{
		font-size:3.0rem;
	}

	.card-title{
		font-size:4.2rem;
	}
	.basic-grid {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	}

}
