:root{
	font-size:62.5%;
	--header-height: 5rem;
}

*{
	margin: 0;
	padding: 0;
	font-family: "Courier New", monospace;
	color: var(--fg0);
}

body{
	background: var(--bg0);
}

header{
	position:fixed;
	top:0;
	width:100%;
	height:var(--header-height);
	background:var(--bg0);
	display: flex;
	flex-direction:column;
	align-items:center;
	z-index:1000;
}

.header-container{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
}

.header-logo{
	width:100%;
	max-width:95.6rem;
	height:100%;
	align-self:start;
	display:flex;
}

.header-logo img{
	height:var(--header-height);
	align-self:center;
	padding-left:2rem;
}

.header-nav{
	width:fit-content;
	height:100%;
}

.header-nav ul{
	margin-left:5rem;
}

.header-nav ul li{
	display:inline;
	float:left;
}

.header-nav ul li a{
	padding:0 1rem;
	margin-top:0.4rem;
	font-size:1.8em;
	font-weight:600;
	line-height:var(--header-height);
	display:block;
	height:100%;
}

.header-nav .current{
	color:var(--yellow);
	padding:0 1rem;
	margin-top:0.4rem;
	font-size:2em;
	font-weight:900;
	line-height:var(--header-height);
	display:block;
	height:100%;
}

.header-nav ul li a:hover{
	color:var(--yellow);
}

#separador{
	width:100%;
	min-height:2px;
	max-width:95.6rem;
	background:var(--fg0);
	z-index:1000;
}

#sombra{
	position:relative;
	bottom:2px;
	width:100%;
	min-height:24px;
	background: linear-gradient(var(--bg0) 20%, rgba(0, 0, 0, 0));
	z-index:999;
}

#wrapper{
	max-width:100rem;
	display:flex;
	flex-direction:column;
	margin:auto;
	margin-top:	var(--header-height);
	padding:2.2rem;
}

#hrTitle{
	margin: 2px 0 15px;
	border-color:var(--fg1);
}

/*** cool new free ***/

h1{
	font-size:5rem;
	line-height:1.1;
	font-weight:600;
}

h2{
	font-size:2.4rem;
	line-height:1.1;
	font-weight:600;
}

h4{
	font-size:1.2rem;
	line-height:1.75;
}

p{
	font-size:1.6rem;
	line-height:1.5;
	text-align:justify;
	text-indent: 2em;
	margin-top: 5px;
	margin-bottom: 10px;
	width:clamp(45ch,100%,75ch);
	align-self:center;
}

a{
	font-size:2.2rem;
	line-height:1.5;
	cursor:pointer;
}

hr{
	margin:10px 0;
	border:1px solid;
}

@media only screen and (max-width: 65rem) {
	:root{
		--header-height: 10rem;
	}
	
	.header-nav ul li a{
		font-size:5.2em;
	}

	#wrapper{
		padding:5rem;
	}
	
	h4{
		font-size:1.8rem;
	}

	p{
		font-size:2.2rem;
		line-height:1.5;
		text-indent: 2em;
	}

}

@media only screen and (min-width: 65.1rem) and (max-width: 80rem) {
	h4{
		font-size:1.8rem;
	}

	p{
		font-size:2.2rem;
		line-height:1.5;
		text-indent: 2em;
	}

}
