:root{
	font-size:62.5%;
}

*{
	margin: 0;
	padding: 0;
	font-family: "Courier New", monospace;
	color: var(--fg0);
}

body{
	background: var(--bg0);
}

header{
	width:100%;
	padding: 4px 16vw 4px;
	position:fixed;
	top:0;
	background:var(--bg0);
	display: flex;
	align-items:center;
	z-index:999;
}

#separador{
	position:fixed;
	top:43px;
	left:8vw;
	right:8vw;
	height:2px;
	background:var(--fg1);
	z-index:1000;
}

#sombra{
	position:fixed;
	top:43px;
	width:100%;
	height:24px;
	background: linear-gradient(var(--bg0) 15%, rgba(0, 0, 0, 0));
	z-index:998;
}

#hrTitle{
	margin: 2px 0 15px;
}

.breadcrumb li{
	display:inline;
}

.breadcrumb li+li:before{
	content:'| ';
}

#wrapper{
	max-width:1000px;
	display:flex;
	flex-direction:column;
	/*background: #1d2021;*/
	margin:auto;
	margin-top:36px;
	padding:22px;
}

nav{
	padding:16px;
	border-right:5px solid;
	display:flex;
	min-height:250px;
}

main{
	min-height:250px;
	min-width:400px;
	margin:auto;
	margin-left: 2rem;
}

p{
	text-indent: 2em;
	text-align:justify;
	margin-top: 5px;
	margin-bottom: 10px;
}

nav > ul > li{
	list-style-type:none;
	text-align:right;
	margin:20px 0px;
}

.menuBtn{
	transition: .6s;
}

.menuBtn:hover{
	transform: translate(-5px);
}

li > a:hover{
	color: #d8a657;
}

/*** cool new free ***/

h1{
	font-size:3rem;
	line-height:1.1;
	font-weight:600;
}

h2{
	font-size:2rem;
	line-height:1.1;
	font-weight:600;
}

h4{
	font-size:1.4rem;
	line-height:1.75;
}

p{
	font-size:1.8rem;
	line-height:1.5;
}

a{
	font-size:1.8rem;
	line-height:1.5;
	cursor:pointer;
}

hr{
	margin:10px 0;
	border:1px solid;
}

@media only screen and (max-width: 768px) {
	.breadcrumb {
		display:none;
	}
	
	#separador{
		left:3vw;
		right:3vw;
	}
	
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
	#separador{
		left:3.6vw;
		right:3.6vw;
	}
	
}
