.start {
    display: grid;
    grid-template-columns: 1fr 16em;
    gap: .6em;
}

.foto {
    border-radius: 1rem;
    object-fit: cover;
    margin-top: 2.4rem;
}

@media only screen and (max-width: 50em) {
    .start {
        display: revert;

    }

    .foto {
        max-height: 12em;
        width: 100%;
        margin-block: auto;
    }

}

.ingredientes {
    grid-row-start: 1;
    position: relative;
    border-radius: 1rem;
    border: .16em solid var(--yellow);
    margin-top: 2.4rem;
    padding: 0 .6em .6em;
    background-color: var(--bg1);
}

.ingredientes::before {
    content: "Ingredientes";
}

.ingredientes ul {
    list-style-type: cjk-decimal;
    list-style-type: armenian;
    list-style-position: outside;
    margin-left: 2.0em;
}

.ingredientes h4 {
    margin-block: .4em .2em;
}

.pasos {
    position: relative;
    margin-bottom: .4em;
    margin-top: 2.4rem;
    max-width: clamp(45ch, 100%, 60ch);
}

.pasos::before {
    content: "Pasos";
    padding-left: .8em;
}

.pasos ul {
    list-style-type: armenian;
    list-style-position: outside;
    text-align: justify;
    margin-left: 2.0em;
}

.ingredientes li, .pasos li {
    hyphens: auto;
    padding-bottom: 1.2em;
}

.ingredientes::before,
.pasos::before {
    position: absolute;
    bottom: 102%;
    font-size: 1.2em;
    font-weight: 600;
}

